.forms {
  background: map-get($colors, blue-dark);

  &__container {
    height: 100%;
    max-width: 112.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 2rem;

    &__title {
      @include title;

      h3{
        color: map-get($colors, white);
      }
    }

    &__contact {
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 2rem;
      max-width: 1200px;
      margin: 0 auto;

      &__form {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin: 0 auto;

        &__box {
          width: 100%;
          height: 100%;

          .input-row {
            display: flex;
            gap: 1rem;

            input {
              width: 100%;
              padding: 1.5rem;
              font-size: map-get($fonts, small);
              border-radius: .9375rem;
              border: 2px solid map-get($colors, green);
              margin: 1rem 0;
              resize: none;
            }
          }
          
          input {
            width: 100%;
            padding: 1.5rem;
            font-size: map-get($fonts, small);
            border-radius: .9375rem;
            border: 2px solid map-get($colors, green);
            margin: 1rem 0;
            resize: none;
          }

          textarea {
            width: 100%;
            padding: 3.5rem;
            font-size: map-get($fonts, small);
            border-radius: .9375rem;
            border: 2px solid map-get($colors, green);
            margin: 1rem 0;
            resize: none;
          }

          button {
            @include button;
            width: 100%;
            max-width: 200px;
            margin-top: 1rem;
            font-size: 1rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .forms {
    height: 100%;

    &__container {
      margin: 0;
      justify-content: center;
      flex-direction: column;
    }

    .forms__container__contact__form__box .input-row {
      flex-direction: column;
    }
  }
}
