.header {
  width: 100%;
  background: map-get($colors, background-gradient);

  &__container {
      height: 100%;
      max-width: 112.5rem;
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin: 0 auto;

      &__text {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          margin: 0.625rem;

          h1 {
            margin: 0.8125rem;
            font-size: 2rem;
            color: map-get($colors, white);

            span {
                color: map-get($colors, green);
            }
          }

          h2 {
              margin: 0.8125rem;
              font-size: 1.5rem;
              color: map-get($colors, white);
              letter-spacing: 0.15rem;

              span {
                  color: map-get($colors, green);
              }
          }

          h3 {
              text-align: left;
              font-size: 1rem;
              color: map-get($colors, white);
              letter-spacing: 0.15rem;
          }
      }

      &__pic {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;

          &__dev {
              height: auto;
              width: 100%;
              margin: 4.5rem;

              img {
                  border-radius: 0.9375rem;
                  max-height: 100%;
                  max-width: 100%;
                  height: auto;
                  object-fit: contain;
                  object-position: center;
                  background-repeat: no-repeat;
                  box-shadow: 0 0 0.9375rem map-get($colors, green);
              }
          }
      }

      &__buttons {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          margin: 3.25rem auto;

          button {
              @include button;
          }
      }
  }

}


@media (max-width: 767px) {
   .header {
    max-height: 100%;
    max-width: 100%;

    &__container {
      margin: 0;
      justify-content: center;
      flex-direction: column;

      &__pic {
        margin: auto;
        justify-content: center;
    }

    &__text {
        margin: 0.8125rem;
        align-items: center;
        text-align: center;
    }


    }
  }
}